.target-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images4.alphacoders.com/276/thumb-1920-276894.jpg');
  background-size: cover;
  min-height: max-content;
  max-height: 90%;
  min-height: 100%;
  max-width: 100vmax;
  background-position: top;
  background-repeat: no-repeat;
}

.target-image-content {
  width: 100vmax;
  height: 100vmax;
}

.target-image-description {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;

}

.image-description-div {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  margin-right: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 30%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px 2px #000000, 0 0 0 #ffffff;
}

.target-image-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.target-image-title-div {
  display: flex;
  justify-content: center;
  width: auto;
  border: 1px solid black;
  margin-right: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 25%;
  background-color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 0 5px 2px #000000, 0 0 0 #ffffff;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  box-shadow: 0 0 5px 3px #000000, 0 0 0 #ffffff;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin: 1%;
  margin-top: 0%;
}

.body-layout-div {
  background-image: none;
}

.footer-div {
  position: fixed;
  bottom: 0;
}
