form {
  position: relative;
  /* border: 1px solid black; */
  box-shadow: 0 0 5px 1px #000000, 0 0 0 #ffffff;
  border-radius: 5px;
  background-color: white;
}

input {
  /* box-shadow: 0 0 5px 1px #000000, 0 0 0 #ffffff; */
  /* font-weight: 5; */
}

.edit-image-form-container {
  margin: 2%;
  padding: 5%;
  padding-top: 0%;
}

.edit-image-buttons-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}
