.image-container {
  display: flex;
  /* height: inherit; */
  width: 100%;
  border: 1px solid black;
  /* width: fit-content; */
  /* flex-wrap: wrap; */
  flex-flow:wrap;
  /* justify-content: center; */
}

.browser-image {
  display: flex;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1px;
  min-width: 32.35vmin;
  min-height: 19vmin;
  /* max-width: 50vmax;
  max-height: 50vmax; */
}
