.image-container {
  display: flex;
  height: inherit;
  width: 100%;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.browser-image {
  display: flex;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
  min-width: 30vmin;
  min-height: 25vmin;
  /* max-width: 50vmax;
  max-height: 50vmax; */
}
