.welcome-to-sweetr {
  font-size: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.login-signup-message {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
