.selected-image-container {
  display: flex;
  justify-content: center;
}

.selected-image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vmax;
  height: 200px;
}
