/* TODO Add site wide styles */

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}


div#root {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}


.map-container {
  height: 100vh;
  width: 100vw;
  /* margin-left: 25%; */
  /* margin-right: 25%; */
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  /* margin-left: 25%; */
  /* margin-right: 25%; */
}

/* body {
  margin: 0;
  padding: 0;
} */

/* #map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
} */
