.nav-links {
  color: white;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
}

.footer-div {
  width: 100%;
  right: 0;
}


li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
